body{
    background-color: #58ACFA;
    font-family: 'Dosis', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
}
header{
    text-align: center;
}
.cupones{
   background-color: #cce5fd;
   padding: 3px;
   height: 200px;
   width: 200px;
   margin-bottom: 80px;
   border-radius: 4px;
   margin-left: 850px;
   margin-top: 30px;
}
.cupones ul{
    list-style: none;
}
.cupones ul li{
    margin-top: 12px;
}
.productos{
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    margin-left: 252px;
    margin-bottom: 100px;
}
.product-card{
    border: solid white 4px;
    border-radius: 8px;
    width: 400px;
    padding: 16px;
    margin-right: 92px;
}
.product-card img{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 92px;
}
.product-info{
    margin-left: 16px;
}
.product-info div p:nth-child(1){
    font-weight: bold;
}
.cuponin{
    font-size: 18px;
    text-align: left;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.cuponin:nth-child(1){
    margin-left: 800px;
}
.boton{
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 32px 0 0 100px;
    padding: 8px;
    border-radius: 8px;
    width: 150px;
    height: 52px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-bottom: 80px;
}
.label{
    background-color: white;
    border: none;
    height: 25px;
    width: 96px;
    border-radius: 8px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 16px;
}